body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  margin: 0px;
}

.section-container{
  padding: 0% 8% 0% 12%;
  margin-bottom: 60px;
}

@media (max-width: 600px){
  .section-container{
    padding: 0% 2% 0% 2%;    
  }
}