body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  margin: 0px;
}

.section-container{
  padding: 0% 20%;
  margin-top: 80px;
}

@media (max-width: 600px){
  .section-container{
    padding: 0% 5% 0% 5%;    
  }
}

footer {
  text-align: center;
}

main {
  min-height: calc(100vh - 124px);
}

.remove-button {
  cursor: pointer;
  background-color: black;
  color: #EEE;
  padding: 8px 16px;
  margin-top: 40px;
  border-radius: 5px;
  border: none;
  float: right;
}